# ======================================================
# MetaTrader 5
# ======================================================

MT5_LOGIN=

MT5_PASSWORD=

MT5_SERVER=

MT5_PATH=

# ======================================================
# Notifications
# ======================================================

TELEGRAM_TOKEN=

TELEGRAM_CHAT_ID=

DISCORD_WEBHOOK=

# ======================================================
# Database
# ======================================================

DATABASE_URL=