# ======================================================
# Python
# ======================================================

__pycache__/
*.py[cod]
*$py.class

# ======================================================
# Virtual Environment
# ======================================================

.venv/
venv/
.env/
env/

# ======================================================
# VS Code
# ======================================================

.vscode/

# ======================================================
# JetBrains
# ======================================================

.idea/

# ======================================================
# Build
# ======================================================

build/
dist/
*.egg-info/

# ======================================================
# Test
# ======================================================

.pytest_cache/
.coverage
htmlcov/

# ======================================================
# Outputs
# ======================================================

outputs/

# ======================================================
# Logs
# ======================================================

*.log

# ======================================================
# OS
# ======================================================

.DS_Store
Thumbs.db

# ======================================================
# MT5
# ======================================================

*.ex5
*.mq5

# ======================================================
# Jupyter
# ======================================================

.ipynb_checkpoints/